@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display", serif;

  font-style: normal;
  font-weight: 300;
  background-color: #f7f5ed;
}
